
<div class="grid grid-cols-1 gap-4 md:gap-6 w-full min-w-0 py-6 px-4 md:px-8 border-t md:-mt-px">
    <div class="bg-card shadow rounded-lg overflow-hidden">
        <div class="flex flex-col flex-auto h-56 overflow-hidden relative">
            <flare-base-vote-power-over-delegations-chart [loading]="loading"
                [votePowerHistory]="delegatedVotePowerHistory" [rewardEpochSettings]="rewardEpochSettings">
            </flare-base-vote-power-over-delegations-chart>
        </div>
    </div>
    <div class="bg-card shadow rounded-lg overflow-hidden mb-6">
        <div class="flex flex-col flex-auto min-h-60  overflow-y-auto overflow-x-auto  relative">
            <flare-base-vote-power-delegations-table [loading]="loading"
                [votePowerHistoryChange]="votePowerHistoryChange" [hidePageSize]="false"
                [tableColumns]="['rewardEpoch','rewardEpochStartTime','votePower','votePowerChange', 'delegatorsCount','delegatorsCountChange']"
                [sortOnColumn]="'rewardEpoch'" [pageSize]="10">
            </flare-base-vote-power-delegations-table>
        </div>
    </div>
</div>