<div class="grid grid-cols-12 gap-4 md:gap-6 w-full min-w-0 py-6 px-4 md:px-8 border-t md:-mt-px">
    <div class="flex flex-col flex-auto col-span-12 grid md:hidden">
        <dl
            class="grid md:grid-cols-2 grid-cols-2 rounded-lg bg-card overflow-hidden shadow  divide-y divide-gray-200 md:divide-y-0 divide-x">
            <div class="py-0 col-span-2 min-h-16" *ngIf="showRewardEpochInfo">
                <flare-base-counter [loading]="!rewardEpochSettings" label="Reward epoch"
                    [countdownValue]="request.epochId ? rewardEpochSettings.getEndTimeForEpochId(request.epochId) : null"
                    [counterValue]="request.epochId ? request.epochId : request.epochId+1"></flare-base-counter>
            </div>
            <div class="py-0 col-span-1 min-h-16  md:border-none">
                <flare-base-counter
                    [counterValue]="!delegatedVotePower ? 0 : delegatedVotePower.amount | number:'1.0-0'"
                    label="Total vote power" [variationValue]="!votePowerChange ? 0 : votePowerChange"
                    [loading]="loadingMap.isLoading('getDelegatedVotePowerHistory')"
                    [variationLabel]="'from last reward epoch'">
                </flare-base-counter>
            </div>
            <div class="py-0 col-span-1 min-h-16 ">
                <flare-base-counter [counterValue]="!delegatedVotePower ? 0 : delegatedVotePower.delegators"
                    label="Total delegators" [variationValue]="!totalDelegatorsChange ? 0 : totalDelegatorsChange"
                    [variationLabel]="'from last reward epoch'"
                    [loading]="loadingMap.isLoading('getDelegatedVotePowerHistory')">
                </flare-base-counter>
            </div>
        </dl>
    </div>
    <div class="flex flex-col flex-auto p-0  overflow-hidden col-span-12 md:col-span-7">
        <div class="bg-card shadow rounded-lg overflow-hidden mb-6">
            <h3 class="shrink-0 p-4 py-4  text-lg font-medium tracking-tight leading-6 truncate truncate">
                Delegations
            </h3>
            <div class="flex flex-col h-full p-0 relative min-h-96">
                <flare-base-delegations-table [request]="request" (delegatorSelected)="selectDelegator($event)"
                    [delegationsData]="(delegationsData && delegationsData.numResults > 0 && !(loadingMap.isLoading('getDelegatorsAt') || loadingMap.isLoading('getDelegatedVotePowerHistory'))) ? delegationsData : null"
                    [dataProvidersInfo]="[dataProviderInfo]"
                    [tableColumns]="['timestamp', 'rewardEpoch', 'from', 'amount']" sortOnColumn="timestamp"
                    [dynamicData]="true"
                    [loading]="(loadingMap.isLoading('getDelegatorsAt') || loadingMap.isLoading('getDelegatedVotePowerHistory'))"
                    (requestEvent)="handleRequestEvent($event)"></flare-base-delegations-table>
            </div>
        </div>
        <div class="bg-card shadow rounded-lg overflow-hidden mb-6">
            <h3 class="shrink-0 p-4 py-4  text-lg font-medium tracking-tight leading-6 truncate truncate">
                Latest delegations
            </h3>
            <div class="flex flex-col flex-auto min-h-60  relative">
                <flare-base-loader [loading]="loadingMap.isLoading('getLatestDelegations')"
                    skeletonType="table"></flare-base-loader>
                <flare-base-no-data skeletonType="table"
                    *ngIf="!loadingMap.isLoading('getLatestDelegations') && (!latestDelegations || latestDelegations.numResults == 0)"></flare-base-no-data>
                <flare-base-delegations-table [delegationsData]="latestDelegations" [dynamicData]="false"
                    (delegatorSelected)="selectDelegator($event)" [tableColumns]="latestDelegationsTableColumns"
                    [loading]="loadingMap.isLoading('getLatestDelegations')" [hidePageSize]="true"
                    [sortOnColumn]="'timestamp'" [pageSize]="10">
                </flare-base-delegations-table>
            </div>
            <div class="p-4">
                <button (click)="showDelegations()" class="button-sm button-sm-light w-full rounded-md px-6 mr-2 "
                    mat-stroked-button>Show delegations</button>
            </div>
        </div>
    </div>

    <div class="flex flex-col flex-auto p-0  col-span-12 md:col-span-5">
        <dl
            class="grid md:grid-cols-2 grid-cols-2 rounded-lg bg-card overflow-hidden shadow   divide-y divide-gray-200 dark:divide-gray-700 md:divide-y-0 divide-x mb-6  hidden md:grid">
            <div class="py-0 col-span-2 min-h-16 border-b" *ngIf="showRewardEpochInfo">
                <flare-base-counter [loading]="!rewardEpochSettings" label="Reward epoch"
                    [countdownValue]="request.epochId ? rewardEpochSettings.getEndTimeForEpochId(request.epochId) : null"
                    [counterValue]="request.epochId ? request.epochId : request.epochId+1"></flare-base-counter>
            </div>
            <div class="py-0 col-span-1 min-h-16  md:border-none border-t">
                <flare-base-counter
                    [counterValue]="!delegatedVotePower ? 0 : delegatedVotePower.amount | number:'1.0-0'"
                    label="Total vote power" [variationValue]="!votePowerChange ? 0 : votePowerChange"
                    [loading]="loadingMap.isLoading('getDelegatedVotePowerHistory')"
                    [variationLabel]="'from last reward epoch'">
                </flare-base-counter>
            </div>
            <div class="py-0 col-span-1 min-h-16 ">
                <flare-base-counter [counterValue]="!delegatedVotePower ? 0 : delegatedVotePower.delegators"
                    label="Total delegators" [variationValue]="!totalDelegatorsChange ? 0 : totalDelegatorsChange"
                    [variationLabel]="'from last reward epoch'"
                    [loading]="loadingMap.isLoading('getDelegatedVotePowerHistory')">
                </flare-base-counter>
            </div>
        </dl>

        <div class="bg-card shadow rounded-lg overflow-hidden mb-6">
            <h3 class="shrink-0 p-4 py-4  text-lg font-medium tracking-tight leading-6 truncate truncate">
                Vote power over delegations
            </h3>
            <div class="flex flex-col flex-auto h-48 overflow-hidden relative">
                <flare-base-vote-power-over-delegations-chart
                    [loading]="loadingMap.isLoading('getDelegatedVotePowerHistory')"
                    [votePowerHistory]="delegatedVotePowerHistory" [rewardEpochSettings]="rewardEpochSettings">

                </flare-base-vote-power-over-delegations-chart>
            </div>
        </div>
        <div class="bg-card shadow rounded-lg overflow-hidden mb-6">
            <h3 class="shrink-0 p-4 py-4  text-lg font-medium tracking-tight leading-6 truncate truncate">
                Vote power change
            </h3>
            <div class="flex flex-col flex-auto min-h-60  overflow-y-auto overflow-x-auto  relative">
                <flare-base-vote-power-delegations-table
                    [loading]="loadingMap.isLoading('getDelegatedVotePowerHistory')"
                    [votePowerHistoryChange]="votePowerHistoryChange"
                    [tableColumns]="['rewardEpoch','rewardEpochStartTime','votePower','votePowerChange']"
                    [sortOnColumn]="'rewardEpoch'" [pageSize]="5">
                </flare-base-vote-power-delegations-table>
            </div>
            <div class="p-4">
                <button class="button-sm button-sm-light w-full px-6 mr-2" [disabled]="loading"
                    (click)="showVotePowerHistory()" mat-stroked-button>Show Vote Power history</button>
            </div>
        </div>
        <div class="bg-card shadow rounded-lg overflow-hidden mb-6">
            <h3 class="shrink-0 p-4 py-4  text-lg font-medium tracking-tight leading-6 truncate truncate">
                Delegators change
            </h3>
            <div class="flex flex-col flex-auto min-h-60  overflow-y-auto overflow-x-auto relative">
                <flare-base-vote-power-delegations-table
                    [loading]="loadingMap.isLoading('getDelegatedVotePowerHistory')"
                    [votePowerHistoryChange]="votePowerHistoryChange"
                    [tableColumns]="['rewardEpoch','rewardEpochStartTime','delegatorsCount','delegatorsCountChange']"
                    [sortOnColumn]="'rewardEpoch'" [pageSize]="5">
                </flare-base-vote-power-delegations-table>
            </div>
            <div class="p-4">
                <button class="button-sm button-sm-light w-full rounded-md px-6 mr-2 " [disabled]="loading"
                    (click)="showVotePowerHistory()" mat-stroked-button>Show Vote Power history</button>
            </div>
        </div>

    </div>
</div>