flare-base-data-provider-delegations {
    display:contents;
}
.mat-column-timestamp {
    flex: 0 0 15% !important;
}
.mat-column-rewardEpoch {
    flex: 0 0 10% !important;
}
.mat-column-from {
    flex: 0 0 25% !important;
}

