<div class="relative h-full w-full  py-2 px-2.5 md:px-4 overflow-hidden">
    <flare-base-loader [loading]="loading" skeletonType="text" [overlay]="false"> </flare-base-loader>
    <flare-base-no-data skeletonType="text"
        *ngIf="!loading && (counterValue == null || counterValue =='0')"></flare-base-no-data>
    <div @slideInBottom *ngIf="counterValue != null && counterValue !='0'  && !loading">
        <dt *ngIf="label != null" class="shrink-0 p-0 text-md md:text-lg  font-normal leading-6 truncate">{{label}}</dt>
        <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div
                class="items-baseline text-xl sm:text-2xl md:text-3xl font-semibold tracking-tighter leading-tight text-gray-700 dark:text-gray-300 truncate">
                {{counterValue}}
            </div>
            <ng-container *ngIf="variationValue != null">
                <div class="inline-flex items-baseline px-1.5 md:px-2.5 py-0.5 rounded-full text-sm md:text-sm font-medium md:mt-2 lg:mt-0"
                    [matTooltip]="variationLabel? variationLabel: null" [matTooltipPosition]="'above'"
                    [ngClass]="{'text-red-500 bg-red-100':variationValue < 0,'text-green-800 bg-green-100':variationValue > 0,'text-gray-700 bg-gray-200':variationValue == 0}">

                    <span class="sr-only"> Increased by </span>
                    {{variationValue
                    > 0 ? '+'+(variationValue|number: '1.0-3') : (variationValue|number: '1.0-3')}}%
                </div>
            </ng-container>
            <ng-container *ngIf="countdownValue != null">
                <div
                    class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium md:mt-2 lg:mt-0 text-gray-700 bg-gray-200">

                    <flare-base-countdown [inputTimestamp]="countdownValue" [displayUnits]="3"></flare-base-countdown>
                </div>
            </ng-container>
        </dd>