<flare-base-loader [loading]="loading" skeletonType="chart"> </flare-base-loader>
<flare-base-no-data
    *ngIf="!loading && (claimedRewardsDateHistogramData == null || (claimedRewardsDateHistogramData != null && claimedRewardsDateHistogramData.length == 0))"
    [label]="claimedRewardsDateHistogramData != null ? 'No data found' : null"
    skeletonType="chart"></flare-base-no-data>
<div class="absolute left-4 top-2 z-10" style="zoom:0.8">
    <label class="mr-2">Group by</label>
    <mat-button-toggle-group name="claimedRewardsGroupBy" aria-label="Group by" [(ngModel)]="groupBy">
        <mat-button-toggle [value]="claimedRewardsGroupByEnum.rewardEpochId"
            (change)="emitGroupBy(claimedRewardsGroupByEnum.rewardEpochId)">Reward
            epoch</mat-button-toggle>
        <mat-button-toggle [value]="claimedRewardsGroupByEnum.timestamp"
            (change)="emitGroupBy(claimedRewardsGroupByEnum.timestamp)">Claim
            timestamp</mat-button-toggle>
    </mat-button-toggle-group>
</div>
<apx-chart @fadeIn
    *ngIf="claimedRewardsDateHistogramData != null && claimedRewardsDateHistogramData.length > 0 && !loading"
    class="flex-auto w-full h-full" [chart]="claimedRewardsChartData.chart" [colors]="claimedRewardsChartData.colors"
    [dataLabels]="claimedRewardsChartData.dataLabels" [grid]="claimedRewardsChartData.grid"
    [fill]="claimedRewardsChartData.fill" [plotOptions]="claimedRewardsChartData.plotOptions"
    [legend]="claimedRewardsChartData.legend" [responsive]="claimedRewardsChartData.responsive"
    [series]="claimedRewardsChartData.series" [stroke]="claimedRewardsChartData.stroke"
    [tooltip]="claimedRewardsChartData.tooltip" [xaxis]="claimedRewardsChartData.xaxis"
    [yaxis]="claimedRewardsChartData.yaxis"></apx-chart>