<flare-base-loader [loading]="loading" skeletonType="table" [overlay]="true"></flare-base-loader>
<flare-base-no-data skeletonType="table"
    *ngIf="!loading && (!rewardsHistoryChange || rewardsHistoryChange.length == 0)"></flare-base-no-data>
<table @fadeIn fuse class=" transition-opacity ease-in-out duration-300 " mat-table matSort #tableSort="matSort"
    [matSortActive]="sortOnColumn" [matSortDirection]="sortOrder"
    *ngIf="rewardsHistoryChange && rewardsHistoryChange != null && rewardsHistoryChange.length>0"
    [dataSource]="dataSource">
    <ng-container matColumnDef="rewardEpoch">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
           Reward epoch
        </th>
        <td class="ps-3 pe-0" mat-cell *matCellDef="let rewardsHistoryChange">
            <span class="flex pr-6 whitespace-nowrap ps-3">
                {{rewardsHistoryChange.rewardEpoch}}
            </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="rewardEpochStartTime">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Start time
        </th>
        <td class="ps-3 pe-0" mat-cell *matCellDef="let rewardsHistoryChange">
            <span class="flex flex-col items-start leading-4 pr-6 whitespace-nowrap">
                <span>{{rewardsHistoryChange.rewardEpochStartTime | date:'MMM dd, y'}}</span>
                <span class="text-xs text-secondary">{{rewardsHistoryChange.rewardEpochStartTime |
                    date:'HH:mm:ss'}}</span>
            </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="providerRewards">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Provider rewards
        </th>
        <td class="ps-3 pe-0" mat-cell *matCellDef="let element">
            <span class="flex pr-6 whitespace-nowrap ">
                {{(element.providerRewards | number).split('.')[0]}}<span
                    class="text-xs text-secondary">.{{element.providerRewards.toFixed(2).split('.')[1]
                    }}</span>
            </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="providerRewardsChange">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Change
        </th>
        <td class="ps-3 pe-0" mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.providerRewardsChange != 0">
                <div class="inline-flex items-baseline px-2 py-0 rounded-full text-xs font-medium md:mt-2 lg:mt-0"
                    matTooltip="{{element.providerRewardsChange| number: '1.0-18'}}%" [matTooltipPosition]="'above'"
                    [ngClass]="{'text-red-500 bg-red-100':element.providerRewardsChange < 0,'text-green-800 bg-green-100':element.providerRewardsChange > 0,
                    'text-gray-700 bg-gray-200':element.providerRewardsChange == 0}">
                    {{element.providerRewardsChange
                    > 0 ? '+'+(element.providerRewardsChange|number: '1.0-3') :
                    (element.providerRewardsChange|number: '1.0-3')}}%
                </div>
            </ng-container>
            <ng-container *ngIf="element.providerRewardsChange == 0">
                <span class="text-xs text-gray-500">-</span>
            </ng-container>
        </td>
    </ng-container>


    <ng-container matColumnDef="delegatorRewards">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Delegators rewards
        </th>
        <td class="ps-3 pe-0" mat-cell *matCellDef="let element">
            <span class="flex pr-6 whitespace-nowrap ">
                {{(element.delegatorRewards | number).split('.')[0]}}<span
                    class="text-xs text-secondary">.{{element.delegatorRewards.toFixed(2).split('.')[1]
                    }}</span>
            </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="delegatorRewardsChange">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Change
        </th>
        <td class="ps-3 pe-0" mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.delegatorRewardsChange != 0">
                <div class="inline-flex items-baseline px-2 py-0 rounded-full text-xs font-medium md:mt-2 lg:mt-0"
                    matTooltip="{{element.delegatorRewardsChange| number: '1.0-18'}}%" [matTooltipPosition]="'above'"
                    [ngClass]="{'text-red-500 bg-red-100':element.delegatorRewardsChange < 0,'text-green-800 bg-green-100':element.delegatorRewardsChange > 0,
                    'text-gray-700 bg-gray-200':element.delegatorRewardsChange == 0}">
                    {{element.delegatorRewardsChange
                    > 0 ? '+'+(element.delegatorRewardsChange|number: '1.0-3') :
                    (element.delegatorRewardsChange|number: '1.0-3')}}%
                </div>
            </ng-container>
            <ng-container *ngIf="element.delegatorRewardsChange == 0">
                <span class="text-xs text-gray-500">-</span>
            </ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="rewardRate">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Reward rate
        </th>
        <td class="ps-3 pe-0" mat-cell *matCellDef="let element">
            <span class="flex pr-6 whitespace-nowrap ">
                {{(element.rewardRate | number:'1.2-2')}}
            </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="rewardRateChange">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Change
        </th>
        <td class="ps-3 pe-0" mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.rewardRateChange != 0">
                <div class="inline-flex items-baseline px-2 py-0 rounded-full text-xs font-medium md:mt-2 lg:mt-0"
                    matTooltip="{{element.rewardRateChange| number: '1.0-18'}}%" [matTooltipPosition]="'above'"
                    [ngClass]="{'text-red-500 bg-red-100':element.rewardRateChange < 0,'text-green-800 bg-green-100':element.rewardRateChange > 0,
                    'text-gray-700 bg-gray-200':element.delegatorRewardsChange == 0}">
                    {{element.rewardRateChange
                    > 0 ? '+'+(element.rewardRateChange|number: '1.0-3') :
                    (element.rewardRateChange|number: '1.0-3')}}%
                </div>
            </ng-container>
            <ng-container *ngIf="element.rewardRateChange == 0">
                <span class="text-xs text-gray-500">-</span>
            </ng-container>
        </td>
    </ng-container>
    <tr class="border-t h-9 py-2 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400 bg-gray-50 dark:bg-gray-800 leading-4"
        mat-header-row *matHeaderRowDef="tableColumns;sticky: false;"></tr>
    <tr class="text-sm order-row h-10" mat-row @slideInRight *matRowDef="let row; columns: tableColumns;">
    </tr>
</table>
<mat-paginator *ngIf="rewardsHistoryChange && rewardsHistoryChange != null && rewardsHistoryChange.length > 0"
    #tablePaginatior
    [disabled]="loading||dataSource.data == null || (dataSource.data != null && dataSource.data.length == 0)"
    class="flex items-start justify-start" [pageSize]="pageSize" [hidePageSize]="hidePageSize"
    [pageSizeOptions]="[10, 25, 50, 100, 250]" [length]="dataSource.data.length" showFirstLastButtons></mat-paginator>