<div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-6 min-w-0 py-4 md:py-6 px-4 md:px-8">
    <h2 class="shrink-0 text-2xl md:text-3xl lg:text-4xl font-light tracking-tight leading-7 sm:leading-10 truncate">
        Wallet dashboard
    </h2>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 w-full min-w-0 pb-2 md:pb-6 px-4 md:px-8">
    <div class="col-span-1 space-y-4 md:space-y-6">
        <div class="bg-card  shadow rounded-lg overflow-hidden">
            <h3 class="p-4 py-4 text-lg font-medium tracking-tight leading-6 truncate truncate">
                Balance
            </h3>
            <div class="flex flex-col flex-auto overflow-y-auto overflow-x-auto relative min-h-28">
                <flare-base-wallet-balance [network]="network" [colorScheme]="colorScheme"></flare-base-wallet-balance>
            </div>
        </div>
        <div class="bg-card  shadow rounded-lg overflow-hidden">
            <h3 class="p-4 py-4 text-lg font-medium tracking-tight leading-6 truncate truncate">
                Delegations
            </h3>
            <div class="flex flex-col flex-auto overflow-y-auto overflow-x-auto relative min-h-28">
                <flare-base-wallet-delegations [network]="network"></flare-base-wallet-delegations>
            </div>
        </div>
    </div>
    <div class="col-span-1 space-y-4  md:space-y-6">
        <div class="bg-card  shadow rounded-lg overflow-hidden">
            <h3 class="p-4 py-4 text-lg font-medium tracking-tight leading-6 truncate truncate">
                Wrap / Unwrap
            </h3>
            <div class="flex flex-col flex-auto overflow-y-auto overflow-x-auto relative min-h-28">
                <flare-base-wallet-wrap [colorScheme]="colorScheme"></flare-base-wallet-wrap>
            </div>
        </div>
        <div class="bg-card  shadow rounded-lg overflow-hidden">
            <h3 class="p-4 py-4 text-lg font-medium tracking-tight leading-6 truncate truncate">
                Delegations rewards
            </h3>
            <div class="flex flex-col flex-auto overflow-y-auto overflow-x-auto relative min-h-28">
                <flare-base-wallet-delegations-rewards [network]="network"></flare-base-wallet-delegations-rewards>
            </div>
        </div>
    </div>
</div>